.contact{
  background: url("/assets/contact.jpg");
  background-size: cover;
  overflow: hidden;
  color: white;
  /*filter: contrast(150%);*/
}

input{
  width: 30vw;
  height: 5vh;
  border-radius: 2.5vh;
  padding: 1vh;
  margin-top: 3vh;
  min-width: 250px;
}


.forms{
  width: 35vw;
  min-width: 300px;
}

h1{
  font-size: 4rem;
  width: 100vw;
  text-align: center;
  padding: 5vh 0 5vh 0;
  font-weight: 900;
}

.overlay{
  background-color: rgba(0,0,0,0.5);
  padding: 0 10vw 10vh 10vw;
}


.send{
  width: 10vw;
  min-width: 100px;
  background-color: greenyellow;
  transition: all 0.5s;
}

.send:hover{
  background-color: green;
  color: white;
}
