<section class="init contact">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap class="overlay">
    <h1>Contact Us</h1>
    <div class="forms contacts" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2vh">
      kdjshafkjjk
    </div>
    <div class="forms">
      <form action="https://formspree.io/your@email.com"
            method="POST" fxLayout="column" fxLayoutAlign="center center">
        <input type="text" name="name" placeholder="name">
        <input type="email" name="_replyto" placeholder="email">
        <input type="number" name="contact" placeholder="contact number">
        <input type="text" name="message" placeholder="message">
        <input type="submit" value="Send" class="send">
      </form>
    </div>
  </div>
</section>
