.nav{
  min-height: 10vh;
  background-color: white;
  color: #333;
  min-width: 300px;
}

.menu{
  border-right: solid 1px #aaa;
  font-size: 1.5rem;
  padding: 0 1.5vw 0 1.5vw;
  text-transform: capitalize;
  letter-spacing: 2px;
  cursor: pointer;
}

.menu:nth-child(4){
  color: red;
}

@media (max-width: 1023px) {
  .menu{
    min-width: 300px;
    text-align: center;
    padding: 10px;
  }

  .nav{
    width: 80vw;
    padding-top: 10vh;
  }
}
