<div class="content">
  <h1>
    About Us
  </h1>
  <p>
    TechShiksha'17 is a program by Sanshiksha Academy in association with Pi Space to promote technical innovation in
    schools.
  </p>
  <p>
    Techshiksha event is an overall competition with students coming up with creative and innovative designs while
    winning prizes by proving their mettle in the workshop. Best Teams from Round 1 of every school will be selected for
    Free of Cost workshop.
  </p>
</div>
<div class="content white">
  <div class="overlay_white">
    <h1>
      Problem Statement(Round 1):
    </h1>
    <p>
      With the inclusive development in this changing era, there have been many unfamiliar structural,commercial, and
      social problems that make affect our lives drastically. But with the combination of Innovative ideas and
      technology
      we can solve these problems effectively and efficiently. Some of these problems come from the areas such
      pollution(
      Air, Water, Soil) , agriculture, defence and security, disaster management, transportation facilitation, health
      and
      medical issues etc.
      For the Aavishkar Challenge, students will have to suggest simple, effective, and feasible solution to solve
      problems near your locality and environment. There is no word limit for your answer report but it is mandatory to
      make a 2D/3D drawing of your design labelling different parts and explaining various functions of each parts.
    </p>
    Click Here to download competition form
    <p>
      Note: Students can find more information about similar type of designs through internet, youtube videos, research
      paper, etc. If found any, students should mention these references at the end of their answers.
    </p>
    <h1>
      Submission
    </h1>
    <p>
      Each student will be given a form just after the seminar in their respective schools. You should submit
      the completed forms on the next day of the Seminar by using following methods.
      To your assigned school representative of Techshiksha.
      Sanshiksha office (Address given on the brochure.)
    </p>
    Process for online submission:
    <ul>
      <li>Step 1: Go to the following web page of Techshiksha: www.pispace.in/techshiksha’17.</li>
      <li>Step 2: Click on the "Submit Your Answer" link under the Aviator Challenge Competition.</li>
      <li>Step 3: Fill up your personal detail and upload Photos or PDF of your forms. To your assigned school
        representative
        of Techshiksha
      </li>
    </ul>
    <p>
      SubmitYourAnswer
    </p>

    <p>
      Selection Procedure:
      Each submission will be judged on the basis of the creativity and feasibility of the design. Judges will expect a
      clearly explained design and with proper labelled diagram. 1 or 2 teams (Each team consisting 5 students ) from
      each
      school will get selected for the Aeromodelling workshop in the next round of the competition.
      Round 2:
      A workshop on RC Aircraft will be organised for selected teams from all the schools in round 2. Details about the
      same are given in Workshop section.
      Results:
      Results will be announced at the end of December on Techshiksha website and facebook page.
    </p>
  </div>
</div>
<div class="content">
  <h1>Seminar</h1>
  <h3>(Introduction to Aeromodelling)</h3>

  Students will be given a taste of aerospace engineering and the current industry developments. This lecture will give
  them basic knowledge of
  <li>History of aviation.</li>
  <li>Different types of aerial vehicles (planes, heli, rocket, satellite,etc).</li>
  <li>Basic physics of an airplane.</li>
  <li>Functioning of various components of airplane.</li>
  <li>Current scenario of various Aviation Vehicles.</li>
  <li>Control of an airplane.</li>
  <li>Where does the future lie in Aviation?</li>


  <h1>Air Show</h1>
  All the planes built by students during the workshop will be flown by Pi Space Pilots. This will be the most
  attractive part of Workshop. TechShiksha Winners will be declared just after the completion of Air Show.

</div>
<div class="content red">
  <h1>Workshop</h1>

  <h3>Fabrication Session</h3>
  <li>Learn best manufacturing techniques by experienced Mentors.</li>
  <li>Hands-on experience with various Aircraft building materials.</li>
  <li>Electronics Integration.</li>
  <li>Getting your RC Aircraft ready to fly(Weight Balance, Pre Flight Checks).</li>

  <h3>Virtual Flight Training</h3>
  <li>Professional Flight lessons from Pi Space Pilots.</li>
  <li>Experience the thrill of flying an RC Aircraft in a Flight Simulator.</li>
  <li>Hands on Experience during the workshop.</li>
  <li>Flight tips from licensed pilots of Pi Space.</li>

  <h3>Flying Session</h3>
  <li>Experience the fun of your RC Aircraft Flight.</li>
  <li>Safety Precaution while conducting Flying Session.</li>
  <li>Preflight Checks and Inflight tips from the Licensed Pilots.</li>
  <li>Be Professional at RC Trainer Airplane</li>
</div>
