p, .content{
  font-size: 1.5rem;
}

.content{
  width: 100vw;
  padding: 10vw;
}

.white{
  background: url("/assets/problem.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.red{
  background-color: #FFDF92;
}
