/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html{
  margin: 0;
  padding: 0;
  background: url("/assets/backg1.jpg");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  font-size: 10px;
}
.init{
  width: 100vw;
}

small{
  font-size: 1rem;
}

@media (max-width: 1023px) {
  html,body{
    font-size: 8px;
  }
}
